#This Apache config file was created by Duplicator Installer on 2020-03-30 08:42:35.
#The original can be found in archived file with the name .htaccess__[HASH]

# BEGIN WordPress
# Строки между `BEGIN WordPress` и `END WordPress` были созданы автоматически.
# Они могут быть изменены только фильтрами WordPress.
# Все изменения между этими отметками будут перезаписаны.

# END WordPress