@import './_pages/_home.scss';

body {
    .builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li:not(.woocommerce-mini-cart-item)>a {
        text-transform: uppercase;
        font-weight: 700;
    }

    li {
        a {
            &:before {
                height: 35px;
                width: 35px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                margin: 0 15px;
            }

        }
    }
    .header-menu-sidebar .nav-menu-primary ul li {
        background-color: transparent;
        padding: 15px 0;
    }
    .menu-item-42 {
        display: none;
        a {
            &:before {
                content: '';
                background-image: url('./../../assets/images/icons/cart.svg');
            }
        }
    }
    .menu-item-41 {
        display: none;
        a {
            &:before {
                content: '';
                background-image: url('./../../assets/images/icons/shop.svg');
            }
        }
    }
    .menu-item-39 {
        display: none;
        a {
            &:before {
                content: '';
                background-image: url('./../../assets/images/icons/about.svg');
            }
        }
    }
    .menu-item-38 {
        display: none;
        a {
            &:before {
                content: '';
                background-image: url('./../../assets/images/icons/inundation.svg');
            }
        }
    }
}
