@import './../../assets/sass/_variables/var';
@import './_pages/_home.scss';
@import './../../assets/sass/_inserts/_header.scss';


@font-face {
    font-family: "kek";
    src: url("./../../assets/fonts/kek.TTF") format("truetype");
}

body {
    font-family: "kek" !important;
    font-size: x-large !important;
    color: $default-color !important;

    h2 {
        font-family: "kek";
    }

    .nv-page-title-wrap.nv-big-title .nv-page-title {
        border: none !important;
        text-align: center;
    }

    .title {
        text-align: center;
        margin: 40px 0;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 2px;
            top: 0px;
            left: 10px;
            height: 100%;
            background-color: $default-color;
            transform: rotate(90deg);
        }

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 2px;
            top: 0px;
            right: 10px;
            height: 100%;
            background-color: $default-color;
            transform: rotate(90deg);
        }
    }

    a {
        text-decoration: none !important;
    }

    .woocommerce-Price-amoun {
        color: green;
        font-weight: 600;
    }

    .wc-block-grid__product-title {
        color: #667A44 !important;
    }

    .woocommerce-Price-currencySymbol {
        visibility: hidden;
        position: relative;
        margin-left: 15px;
        margin-right: 20px;
        font-style: oblique;

        &:after {
            visibility: visible;
            content: 'грн';
            position: absolute;
            margin-left: -30px;

        }
    }

    .wc-block-grid__product-price.price {
        del {
            color: darkgray !important;
        }
    }

    .woocommerce.single .quantity input {
        padding: 12px !important;
    }

    .wc-block-grid__product-price {
        color: green;
        display: block;
    }

    .woocommerce .quantity .qty {
        padding: 12px !important;
    }

    .nv-content-wrap a:not(.button):hover {
        text-decoration: none;
        color: white !important;
    }

    .nv-content-wrap a:not(.button) {
        background: #667A44 !important;
        text-decoration: underline;
    }

    .wp-block-quote {
        p {
            text-align: center;
            font-weight: 700;

            a {
                background: transparent !important;
                padding: 10px;
                border: solid 1px #667A44 !important;
                border-radius: 4px;

                &:hover {
                    border: solid 1px #667A44 !important;
                    color: #667A44 !important;
                    opacity: 0.45;
                }
            }
        }
    }
}
